# [CSV 데이터 파일 다루기]

## <hr> (1) 모듈 로딩

In [6]:
import pandas as pd

## <hr>(2) 데이터 준비

- <~> = open tag <br>
- </~> = close tag

- 파일 이름 => 경로 + 파일명
- 경로 => 2가지 종류
    * 절대경로(C:\Users\부터 파일까지의 전체 경로)
    * 상대경로 : 현재 파일을 기준으로 경로 설정
        - ./ : 현재 위치 (./a.txt, a.txt => 현재 파일과 동일한 위치에 존재)
        - ../ : 한 단계 위로 (../Data/b.csv => 현재 파일이 존재하는 폴더 밖에 존재하는 파일)

In [5]:
file = "./test.txt" # = "test.txt"

In [30]:
file = "../DATA/movies.csv"

## <hr>(3) 데이터 저장 csv -> DF

In [19]:
movieDF = pd.read_csv("../DATA/movies.csv")

## <hr>(4) 데이터 확인

In [10]:
movieDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rank    782 non-null    int64
 1   Title   782 non-null    object
 2   Studio  782 non-null    object
 3   Gross   782 non-null    object
 4   Year    782 non-null    int64
dtypes: int64(2), object(3)
memory usage: 30.7+ KB

In [11]:
movieDF.describe

<bound method NDFrame.describe of      Rank                         Title           Studio       Gross  Year
0       1             Avengers: Endgame      Buena Vista  $2,796.30   2019
1       2                        Avatar              Fox  $2,789.70   2009
2       3                       Titanic        Paramount  $2,187.50   1997
3       4  Star Wars: The Force Awakens      Buena Vista  $2,068.20   2015
4       5        Avengers: Infinity War      Buena Vista  $2,048.40   2018
..    ...                           ...              ...         ...   ...
777   778                     Yogi Bear  Warner Brothers    $201.60   2010
778   779           Garfield: The Movie              Fox    $200.80   2004
779   780                   Cats & Dogs  Warner Brothers    $200.70   2001
780   781      The Hunt for Red October        Paramount    $200.50   1990
781   782                      Valkyrie              MGM    $200.30   2008

[782 rows x 5 columns]>

실제 저장된 데이터 확인 => head(), tail()

In [15]:
movieDF.head() # Year는 datetime형이 아니고, Gross도 int가 아님을 info()로 확인했음

   Rank                         Title       Studio       Gross  Year
0     1             Avengers: Endgame  Buena Vista  $2,796.30   2019
1     2                        Avatar          Fox  $2,789.70   2009
2     3                       Titanic    Paramount  $2,187.50   1997
3     4  Star Wars: The Force Awakens  Buena Vista  $2,068.20   2015
4     5        Avengers: Infinity War  Buena Vista  $2,048.40   2018

## <hr>(5) read_csv 파일 매개변수 살펴보기

- header 파라미터 : DF의 컬럼명을 설정하는 파라미터
    * 0 : csv 파일의 첫번째 라인의 데이터를 컬럼명으로 설정
    * None : csv 파일의 첫번째 라인이 컬럼명이 아님을 의미
    * n : n번 행이 col명으로 설정이 되고 그 이전 행들은 사라짐

In [23]:
pd.read_csv("../DATA/movies.csv", header = None) 
# 보통 데이터의 제일 첫번째 줄을 col명으로 사용함, 하지만 모든 데이터가 그런 것은 아닐 때 사용

        0                             1                2           3     4
0    Rank                         Title           Studio       Gross  Year
1       1             Avengers: Endgame      Buena Vista  $2,796.30   2019
2       2                        Avatar              Fox  $2,789.70   2009
3       3                       Titanic        Paramount  $2,187.50   1997
4       4  Star Wars: The Force Awakens      Buena Vista  $2,068.20   2015
..    ...                           ...              ...         ...   ...
778   778                     Yogi Bear  Warner Brothers    $201.60   2010
779   779           Garfield: The Movie              Fox    $200.80   2004
780   780                   Cats & Dogs  Warner Brothers    $200.70   2001
781   781      The Hunt for Red October        Paramount    $200.50   1990
782   782                      Valkyrie              MGM    $200.30   2008

[783 rows x 5 columns]

- index_col 파라미터 : col 중 하나를 행 인덱스로 설정 = set_index와 동일

In [28]:
pd.read_csv("../DATA/movies.csv", index_col="Rank")

                             Title           Studio       Gross  Year
Rank
1                Avengers: Endgame      Buena Vista  $2,796.30   2019
2                           Avatar              Fox  $2,789.70   2009
3                          Titanic        Paramount  $2,187.50   1997
4     Star Wars: The Force Awakens      Buena Vista  $2,068.20   2015
5           Avengers: Infinity War      Buena Vista  $2,048.40   2018
...                            ...              ...         ...   ...
778                      Yogi Bear  Warner Brothers    $201.60   2010
779            Garfield: The Movie              Fox    $200.80   2004
780                    Cats & Dogs  Warner Brothers    $200.70   2001
781       The Hunt for Red October        Paramount    $200.50   1990
782                       Valkyrie              MGM    $200.30   2008

[782 rows x 4 columns]

In [27]:
pd.read_csv("../DATA/movies.csv", index_col=["Rank", "Title"])

                                            Studio       Gross  Year
Rank Title
1    Avengers: Endgame                 Buena Vista  $2,796.30   2019
2    Avatar                                    Fox  $2,789.70   2009
3    Titanic                             Paramount  $2,187.50   1997
4    Star Wars: The Force Awakens      Buena Vista  $2,068.20   2015
5    Avengers: Infinity War            Buena Vista  $2,048.40   2018
...                                            ...         ...   ...
778  Yogi Bear                     Warner Brothers    $201.60   2010
779  Garfield: The Movie                       Fox    $200.80   2004
780  Cats & Dogs                   Warner Brothers    $200.70   2001
781  The Hunt for Red October            Paramount    $200.50   1990
782  Valkyrie                                  MGM    $200.30   2008

[782 rows x 3 columns]

- sep/delimiter : csv 파일에서 데이터 구분자 설정
    * 기본값 : 쉼표(,)

In [31]:
pd.read_csv(file, sep=";") # ;로 구분하라면 구분 할게 없어서 몰빵됨

                          Rank,Title,Studio,Gross,Year
0    1,Avengers: Endgame,Buena Vista,"$2,796.30 ",2019
1                       2,Avatar,Fox,"$2,789.70 ",2009
2                3,Titanic,Paramount,"$2,187.50 ",1997
3    4,Star Wars: The Force Awakens,Buena Vista,"$2...
4    5,Avengers: Infinity War,Buena Vista,"$2,048.4...
..                                                 ...
777        778,Yogi Bear,Warner Brothers,$201.60 ,2010
778          779,Garfield: The Movie,Fox,$200.80 ,2004
779      780,Cats & Dogs,Warner Brothers,$200.70 ,2001
780  781,The Hunt for Red October,Paramount,$200.50...
781                     782,Valkyrie,MGM,$200.30 ,2008

[782 rows x 1 columns]

In [36]:
pd.read_csv("test.csv", header=None, sep=";") # ;로 구분하라면 구분 할게 없어서 몰빵됨

    0   1   2   3
0  10  20  30  40
1  50  60   7  80

- skiprows : csv파일에 읽어 들이지 않을 행 번호를 지정

In [40]:
pd.read_csv("test2.csv", header=None)

                0
0      [2023년 실적]
1       작성자 : 읭읭싕
2  10; 20; 30; 40
3  50; 60; 07; 80

In [41]:
pd.read_csv("test2.csv", sep = ";", skiprows = 3, header=None)

    0   1   2   3
0  10  20  30  40
1  50  60   7  80

In [42]:
pd.read_csv("test2.csv", sep = ";", skipfooter = 1, header=None)
# ParserWarning : engine

C:\Users\kdp\AppData\Local\Temp\ipykernel_12216\2564821929.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  pd.read_csv("test2.csv", sep = ";", skipfooter = 1, header=None)

ParserError: Expected 1 fields in line 4, saw 4

In [46]:
pd.read_csv("test2.csv", sep = ";", skipfooter = 3, header=None, engine='python')

            0
0  [2023년 실적]
1   작성자 : 읭읭싕

- usecols : 컬럼에서 특정 컬럼만 선택해서 로딩
    * usecols=[0, 2...]
    * usecols=["col1", "col2"]