## [DataFrame에 행/열 추가]

### (1) 모듈 로딩 ------------------------------------------------------

In [2]:
import pandas as pd

### (2) 데이터 준비 ------------------------------------------

In [14]:
# Dict type의 데이터를 준비한다
exam = {"이름" : ['마징가', "배트맨", "홍길동", "임꺽정"],
       "국어" : [98, 78, 45, 79],
       "미술" : [100, 54, 71, 34],
       "수학" : [88, 45, 82, 52],
       "체육" : [98, 84, 55, 13]}

examDF = pd.DataFrame(exam)
examDF

    이름  국어   미술  수학  체육
0  마징가  98  100  88  98
1  배트맨  78   54  45  84
2  홍길동  45   71  82  55
3  임꺽정  79   34  52  13

### (4) 저장된 데이터 속성 확인 <hr>

In [24]:
def printAttribute(df, dfname):
    print(f"[{dfname}]")
    print(f"index\n==> {df.index}")
    print(f"dolumns\n==> {df.columns}")
    print(f"shape\n==> {df.shape}")
    print(f"ndim\n==> {df.ndim}")
    print(f"dtypes\n => \n{df.dtypes}")

In [25]:
printAttribute(examDF, "성적표 특성 출력")

[성적표 특성 출력]
index
==> RangeIndex(start=0, stop=4, step=1)
dolumns
==> Index(['이름', '국어', '미술', '수학', '체육'], dtype='object')
shape
==> (4, 5)
ndim
==> 2
dtypes
 =>
이름    object
국어     int64
미술     int64
수학     int64
체육     int64
dtype: object

In [27]:
type(examDF.dtypes) # -> df.dtypes의 타입은 시리즈

pandas.core.series.Series

### (5) DataFrame에 컬럼(추가) <hr>
- 방법 : DF객체변수명[새로운 컬러명] = 값

In [28]:
examDF.columns

Index(['이름', '국어', '미술', '수학', '체육'], dtype='object')

In [29]:
# 영어 추가
examDF["영어"] = [90, 87, 100, 31] # 리스트를 사용했다면 값의 개수를 맞출 것
examDF

    이름  국어   미술  수학  체육   영어
0  마징가  98  100  88  98   90
1  배트맨  78   54  45  84   87
2  홍길동  45   71  82  55  100
3  임꺽정  79   34  52  13   31

In [32]:
# 컴퓨터
#examDF["컴퓨터"] = [100, 31]
#examDF

ValueError: Length of values (2) does not match length of index (4)

In [31]:
# 과학 추가 
examDF["과학"] = 30 # 하나만 주면 전체 모든 행에 통일 됨
examDF

    이름  국어   미술  수학  체육   영어  과학
0  마징가  98  100  88  98   90  30
1  배트맨  78   54  45  84   87  30
2  홍길동  45   71  82  55  100  30
3  임꺽정  79   34  52  13   31  30

In [33]:
examDF.columns

Index(['이름', '국어', '미술', '수학', '체육', '영어', '과학'], dtype='object')

### (6) 데이터 프레임에 행(row) 추가<hr>
- 방법1 : DF객체변수명.loc[새로운 행이름] = [컬럼 수만큼]
- 방법2 : DF객체변수명.loc[새로운 행이름] = 한가지 값 -> 통일<br>
단, iloc는 불가 -> 데이터 수에 맞게 인덱스가 지정되어 있기 때문에 현재 데이테어서 벗어나는 인덱스를 넣어줄 수 없는 것

In [34]:
examDF.index

RangeIndex(start=0, stop=4, step=1)

In [36]:
# 컬럼 수 만큼의 데이터를 가진 행 추가
examDF.loc[4] = ["원더우먼", 100, 100, 100, 100, 100, 100]
examDF

     이름   국어   미술   수학   체육   영어   과학
0   마징가   98  100   88   98   90   30
1   배트맨   78   54   45   84   87   30
2   홍길동   45   71   82   55  100   30
3   임꺽정   79   34   52   13   31   30
4  원더우먼  100  100  100  100  100  100

In [38]:
# 1개 데이터 가진 행 추가
examDF.loc[5] = "슈퍼맨"
examDF

     이름   국어   미술   수학   체육   영어   과학
0   마징가   98  100   88   98   90   30
1   배트맨   78   54   45   84   87   30
2   홍길동   45   71   82   55  100   30
3   임꺽정   79   34   52   13   31   30
4  원더우먼  100  100  100  100  100  100
5   슈퍼맨  슈퍼맨  슈퍼맨  슈퍼맨  슈퍼맨  슈퍼맨  슈퍼맨

### (5) 새로운 인덱스 - 방법2: 특정 컬럼 => 인덱스 : DF.set_index()

In [39]:
# 1개 컬럼을 인덱스로 설정 단, inplace 파라미터가 False로 원본에는 적용x
examDF.set_index("이름")

       국어   미술   수학   체육   영어   과학
이름
마징가    98  100   88   98   90   30
배트맨    78   54   45   84   87   30
홍길동    45   71   82   55  100   30
임꺽정    79   34   52   13   31   30
원더우먼  100  100  100  100  100  100
슈퍼맨   슈퍼맨  슈퍼맨  슈퍼맨  슈퍼맨  슈퍼맨  슈퍼맨

In [40]:
# 2개 컬럼을 인덱스로 설정 단, inplace 파라미터가 False로 원본에는 적용x
examDF.set_index(["이름", "국어"]) # 리스트에 담는 것 잊지않기

           미술   수학   체육   영어   과학
이름   국어
마징가  98   100   88   98   90   30
배트맨  78    54   45   84   87   30
홍길동  45    71   82   55  100   30
임꺽정  79    34   52   13   31   30
원더우먼 100  100  100  100  100  100
슈퍼맨  슈퍼맨  슈퍼맨  슈퍼맨  슈퍼맨  슈퍼맨  슈퍼맨