In [1]:
#진우
from pandas import DataFrame, read_csv, Series
dataFile = "../DATA/movies.csv"

In [2]:
movieDF = read_csv(dataFile)
movieDF

     Rank                         Title           Studio       Gross  Year
0       1             Avengers: Endgame      Buena Vista  $2,796.30   2019
1       2                        Avatar              Fox  $2,789.70   2009
2       3                       Titanic        Paramount  $2,187.50   1997
3       4  Star Wars: The Force Awakens      Buena Vista  $2,068.20   2015
4       5        Avengers: Infinity War      Buena Vista  $2,048.40   2018
..    ...                           ...              ...         ...   ...
777   778                     Yogi Bear  Warner Brothers    $201.60   2010
778   779           Garfield: The Movie              Fox    $200.80   2004
779   780                   Cats & Dogs  Warner Brothers    $200.70   2001
780   781      The Hunt for Red October        Paramount    $200.50   1990
781   782                      Valkyrie              MGM    $200.30   2008

[782 rows x 5 columns]

In [6]:
movieDF["Rank"]

0        1
1        2
2        3
3        4
4        5
      ...
777    778
778    779
779    780
780    781
781    782
Name: Rank, Length: 782, dtype: int64

In [8]:
movieDF["Rank"][1] = 100

C:\Users\kdp\AppData\Local\Temp\ipykernel_16704\4018601099.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieDF["Rank"][1] = 100

In [ ]:
flag = 0
for col in movieDF.columns:
    if movieDF[col].dtypes == 'int64':
        flag = 1
        for val in range(movieDF[col].size):
            movieDF[col][val] += 5
    print(flag)
    print('-----', col, '-----')
    print(movieDF[col])
    print()