## [Series 데이터 연산]

In [4]:
import pandas as pd
import numpy as np

In [6]:
data = [5,7, np.nan, 9, 11]

1 차원 데이터로 시리즈에 저장

In [7]:
sr = pd.Series(data)

In [8]:
sr

0     5.0
1     7.0
2     NaN
3     9.0
4    11.0
dtype: float64

In [9]:
sr.index, sr.shape, sr.ndim, sr.dtype

(RangeIndex(start=0, stop=5, step=1), (5,), 1, dtype('float64'))

In [10]:
sr.values

array([ 5.,  7., nan,  9., 11.])

연산 수행 레쭈고 시리즈와 시리즈가 연산을 하면 element-wise -> Series 객체 - 연산자 - 숫자

sr + 5

In [12]:
sr / 5

0    1.0
1    1.4
2    NaN
3    1.8
4    2.2
dtype: float64

In [13]:
sr // 5

0    1.0
1    1.0
2    NaN
3    1.0
4    2.0
dtype: float64

In [14]:
sr > 5 # return 시리즈

0    False
1     True
2    False
3     True
4     True
dtype: bool

In [19]:
(sr>5) and (sr<0) # ㅙ 안돼

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

- 논리 연산은 &(and), |(or), ~(not)

In [20]:
(sr>5) & (sr<0)

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [21]:
(sr>5) | (sr<0)

0    False
1     True
2    False
3     True
4     True
dtype: bool

In [24]:
print(~((sr>5) & (sr<0)))

0    True
1    True
2    True
3    True
4    True
dtype: bool

### (5)번 연산 수행 => Series 객체 + Series 객체

In [26]:
# 빈칸이 있을 때 어떻게 처리할지 생각하기 
data2 = [2, 4, 6, 8, 9]

sr2 = pd.Series(data2)
sr2

0    2
1    4
2    6
3    8
4    9
dtype: int64

In [28]:
sr

0     5.0
1     7.0
2     NaN
3     9.0
4    11.0
dtype: float64

In [30]:
print(sr+sr2, sr-sr2, sr*sr2, sr/sr2, sr//sr2, sr%sr2, sep="\n\n")

0     7.0
1    11.0
2     NaN
3    17.0
4    20.0
dtype: float64

0    3.0
1    3.0
2    NaN
3    1.0
4    2.0
dtype: float64

0    10.0
1    28.0
2     NaN
3    72.0
4    99.0
dtype: float64

0    2.500000
1    1.750000
2         NaN
3    1.125000
4    1.222222
dtype: float64

0    2.0
1    1.0
2    NaN
3    1.0
4    1.0
dtype: float64

0    1.0
1    3.0
2    NaN
3    1.0
4    2.0
dtype: float64

In [32]:
# 비교연산도 레쭈고
print(sr>sr2, sr>sr2, sep="\n\n")

0     True
1     True
2    False
3     True
4     True
dtype: bool

0     True
1     True
2    False
3     True
4     True
dtype: bool

In [34]:
# 만약 인덱스가 변경된다면?
sr2.index = [2, 3, 4, 5, 6]
sr2

2    2
3    4
4    6
5    8
6    9
dtype: int64

In [37]:
print(sr+sr2, sr-sr2, sr*sr2, sr/sr2, sr//sr2, sr%sr2, sep="\n\n")
# 인덱스 별로 element wise되어서 빈 곳은 nan값이 뜨게 된다!! -> reset index로 레쭈고

0     NaN
1     NaN
2     NaN
3    13.0
4    17.0
5     NaN
6     NaN
dtype: float64

0    NaN
1    NaN
2    NaN
3    5.0
4    5.0
5    NaN
6    NaN
dtype: float64

0     NaN
1     NaN
2     NaN
3    36.0
4    66.0
5     NaN
6     NaN
dtype: float64

0         NaN
1         NaN
2         NaN
3    2.250000
4    1.833333
5         NaN
6         NaN
dtype: float64

0    NaN
1    NaN
2    NaN
3    2.0
4    1.0
5    NaN
6    NaN
dtype: float64

0    NaN
1    NaN
2    NaN
3    1.0
4    5.0
5    NaN
6    NaN
dtype: float64

In [38]:
print(sr2.reset_index(), sr2.reset_index(drop=True), sep="\n\n")
# drop하면 현재 인덱스 안으로 밀지않고 걍 버려줌

   index  0
0      2  2
1      3  4
2      4  6
3      5  8
4      6  9

0    2
1    4
2    6
3    8
4    9
dtype: int64

- (5) Series 연산수행 => 전용 메서드

In [41]:
print(sr.add(5), sr.sub(5, fill_value=0), sep="\n\n") # fill_value 설정 가능, 숫자 아니고 인덱스 넣어도 ok

0    10.0
1    12.0
2     NaN
3    14.0
4    16.0
dtype: float64

0    0.0
1    2.0
2   -5.0
3    4.0
4    6.0
dtype: float64

In [43]:
# sr과 sr2의 연산 결과를 저장해줘
addSR = sr.add(sr2, fill_value=0)
subSR = sr.sub(sr2, fill_value=0)
mulSR = sr.mul(sr2, fill_value=0)
divSR = sr.div(sr2, fill_value=0)

- (6) DataFrame 연산 수행

In [52]:
df = pd.DataFrame([addSR, subSR, mulSR, divSR], index = ["add", "sub", "mul", "div"])
df

       0    1    2      3          4    5    6
add  5.0  7.0  2.0  13.00  17.000000  8.0  9.0
sub  5.0  7.0 -2.0   5.00   5.000000 -8.0 -9.0
mul  0.0  0.0  0.0  36.00  66.000000  0.0  0.0
div  inf  inf  0.0   2.25   1.833333  0.0  0.0

- DataFrame과 숫자 연산 수행

In [53]:
print(df+5, df-5, sep="\n\n") # 5가 broad casting 후 element-wise

        0     1    2      3          4     5     6
add  10.0  12.0  7.0  18.00  22.000000  13.0  14.0
sub  10.0  12.0  3.0  10.00  10.000000  -3.0  -4.0
mul   5.0   5.0  5.0  41.00  71.000000   5.0   5.0
div   inf   inf  5.0   7.25   6.833333   5.0   5.0

       0    1    2      3          4     5     6
add  0.0  2.0 -3.0   8.00  12.000000   3.0   4.0
sub  0.0  2.0 -7.0   0.00   0.000000 -13.0 -14.0
mul -5.0 -5.0 -5.0  31.00  61.000000  -5.0  -5.0
div  inf  inf -5.0  -2.75  -3.166667  -5.0  -5.0

- DataFramer과 DataFrame 연산 수행 => 동일 위치에 원소끼리 연산 수행

In [54]:
# 3번 6번 col 뺴기
df2 = df*10
df2

        0     1     2      3           4     5     6
add  50.0  70.0  20.0  130.0  170.000000  80.0  90.0
sub  50.0  70.0 -20.0   50.0   50.000000 -80.0 -90.0
mul   0.0   0.0   0.0  360.0  660.000000   0.0   0.0
div   inf   inf   0.0   22.5   18.333333   0.0   0.0

In [55]:
df.index, df.columns

(Index(['add', 'sub', 'mul', 'div'], dtype='object'),
 Index([0, 1, 2, 3, 4, 5, 6], dtype='int64'))

In [56]:
df2.index, df2.columns

(Index(['add', 'sub', 'mul', 'div'], dtype='object'),
 Index([0, 1, 2, 3, 4, 5, 6], dtype='int64'))

In [58]:
df2.index = ["add", "minus", "mul", "/"]

In [60]:
print(df+df2, df-df2, sep="\n\n") # 인덱스 명도 같게 해줘유~ 위에서 인덱스 맞췄던 것처럼

          0     1     2      3      4     5     6
/       NaN   NaN   NaN    NaN    NaN   NaN   NaN
add    55.0  77.0  22.0  143.0  187.0  88.0  99.0
div     NaN   NaN   NaN    NaN    NaN   NaN   NaN
minus   NaN   NaN   NaN    NaN    NaN   NaN   NaN
mul     0.0   0.0   0.0  396.0  726.0   0.0   0.0
sub     NaN   NaN   NaN    NaN    NaN   NaN   NaN

          0     1     2      3      4     5     6
/       NaN   NaN   NaN    NaN    NaN   NaN   NaN
add   -45.0 -63.0 -18.0 -117.0 -153.0 -72.0 -81.0
div     NaN   NaN   NaN    NaN    NaN   NaN   NaN
minus   NaN   NaN   NaN    NaN    NaN   NaN   NaN
mul     0.0   0.0   0.0 -324.0 -594.0   0.0   0.0
sub     NaN   NaN   NaN    NaN    NaN   NaN   NaN

- 연산 수행 메서드 활용 => 결측치 NaN 빈칸에 대한 처리를 수행 가능
    * fill_value 파라미터에 값 설정

In [62]:
df.add(df2, fill_value=0)

          0     1     2       3           4     5     6
/       inf   inf   0.0   22.50   18.333333   0.0   0.0
add    55.0  77.0  22.0  143.00  187.000000  88.0  99.0
div     inf   inf   0.0    2.25    1.833333   0.0   0.0
minus  50.0  70.0 -20.0   50.00   50.000000 -80.0 -90.0
mul     0.0   0.0   0.0  396.00  726.000000   0.0   0.0
sub     5.0   7.0  -2.0    5.00    5.000000  -8.0  -9.0

In [ ]:
146p