In [4]:
import pandas as pd

In [5]:
superheroes = ["Batman", "Superman", "Spider-Man", "Iron Man", "Captain America", "Wonder Woman"]
strength_levels = (100, 120, 90, 95, 110, 120)

### 1. 슈퍼 히어로(superheroes) 리스트를 사용하여 새 Series 객체의 값을 채우세요.

In [7]:
superSR = pd.Series(superheroes)
superSR

0             Batman
1           Superman
2         Spider-Man
3           Iron Man
4    Captain America
5       Wonder Woman
dtype: object

### 2. 능력치(strength_levels) 튜플을 사용하여 새 Series 객체의 값을 채우세요.

In [8]:
levelSR = pd.Series(strength_levels)
levelSR

0    100
1    120
2     90
3     95
4    110
5    120
dtype: int64

### 3. superheroes를 인덱스 레이블로 사용하고 strength_levels를 값으로 사용하여 Series를 생성하세요. heroes 변수에 Series를 할당하세요.

In [9]:
heroes = pd.Series(strength_levels, superheroes)
heroes

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

### 4. heroes Series의 처음 2개 행을 추출하세요

In [10]:
heroes.head(2)

Batman      100
Superman    120
dtype: int64

### 5. heroes Series의 마지막 4개 행을 추출하세요.

In [11]:
heroes.tail(4)

Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

### 6. heroes Series에 있는 고유한 값의 개수를 구하세요.

In [19]:
heroes.nunique()

5

### 7. heroes에 있는 슈퍼 히어로의평균 능력치를 구하세요.

In [22]:
heroes.mean()

105.83333333333333

### 8. heroes의 최대 및 최소 능력치를 구하세요.

In [25]:
print(f"heroes 최대 능력치 : {heroes.max()}")
print(f"heroes 최소 능력치 : {heroes.min()}")

heroes 최대 능력치 : 120
heroes 최소 능력치 : 90

### 9. 능력치가 2배가 되면 각 슈퍼 히어로의 능력치는 얼마인지 구하세요.

In [26]:
heroes * 2

Batman             200
Superman           240
Spider-Man         180
Iron Man           190
Captain America    220
Wonder Woman       240
dtype: int64

### 10. heroes Series를 파이썬 딕셔너리로 변환하세요.

In [27]:
dict(heroes)

{'Batman': 100,
 'Superman': 120,
 'Spider-Man': 90,
 'Iron Man': 95,
 'Captain America': 110,
 'Wonder Woman': 120}