In [1]:
import pandas as pd

In [ ]:
# 중첩 에피소드 데이터 정규화
# 각 에피소드 별도의 행으로 DF생성 / 메타 데이터 포함

In [2]:
tv_shows_json = pd.read_json("../DATA/tv_shows.json")
tv_shows_json

                                               shows
0  {'show': 'The X-Files', 'runtime': 60, 'networ...
1  {'show': 'Lost', 'runtime': 60, 'network': 'AB...
2  {'show': 'Buffy the Vampire Slayer', 'runtime'...

In [3]:
tv = pd.json_normalize(tv_shows_json["shows"], record_path="episodes", meta = ["show", "runtime", "network"])
tv

,season,episode,name,air_date,show,runtime,network
0,1,1,Pilot,1993-09-11 01:00:00,The X-Files,60,FOX
1,1,2,Deep Throat,1993-09-18 01:00:00,The X-Files,60,FOX
2,1,3,Squeeze,1993-09-25 01:00:00,The X-Files,60,FOX
3,1,4,Conduit,1993-10-02 01:00:00,The X-Files,60,FOX
4,1,5,The Jersey Devil,1993-10-09 01:00:00,The X-Files,60,FOX
...,...,...,...,...,...,...,...
477,7,18,Dirty Girls,2003-04-16 00:00:00,Buffy the Vampire Slayer,60,UPN
478,7,19,Empty Places,2003-04-30 00:00:00,Buffy the Vampire Slayer,60,UPN
479,7,20,Touched,2003-05-07 00:00:00,Buffy the Vampire Slayer,60,UPN
480,7,21,End of Days,2003-05-14 00:00:00,Buffy the Vampire Slayer,60,UPN
481,7,22,Chosen,2003-05-21 00:00:00,Buffy the Vampire Slayer,60,UPN

In [6]:
# 2. 정규화된 데이터 셋을 각 프로그램 별로 하나씩 DF
xfiles = tv[tv["show"] == "The X-Files"]
lost = tv[tv["show"] == "Lost"]
slayer = tv[tv["show"] == "Buffy the Vampire Slayer"]

In [7]:
xfiles

,season,episode,name,air_date,show,runtime,network
0,1,1,Pilot,1993-09-11 01:00:00,The X-Files,60,FOX
1,1,2,Deep Throat,1993-09-18 01:00:00,The X-Files,60,FOX
2,1,3,Squeeze,1993-09-25 01:00:00,The X-Files,60,FOX
3,1,4,Conduit,1993-10-02 01:00:00,The X-Files,60,FOX
4,1,5,The Jersey Devil,1993-10-09 01:00:00,The X-Files,60,FOX
...,...,...,...,...,...,...,...
213,11,6,Kitten,2018-02-08 01:00:00,The X-Files,60,FOX
214,11,7,Rm9sbG93ZXJz,2018-03-01 01:00:00,The X-Files,60,FOX
215,11,8,Familiar,2018-03-08 01:00:00,The X-Files,60,FOX
216,11,9,Nothing Lasts Forever,2018-03-15 00:00:00,The X-Files,60,FOX
217,11,10,My Struggle IV,2018-03-22 00:00:00,The X-Files,60,FOX

In [8]:
lost

,season,episode,name,air_date,show,runtime,network
218,1,1,Pilot (1),2004-09-23 00:00:00,Lost,60,ABC
219,1,2,Pilot (2),2004-09-30 00:00:00,Lost,60,ABC
220,1,3,Tabula Rasa,2004-10-07 00:00:00,Lost,60,ABC
221,1,4,Walkabout,2004-10-14 00:00:00,Lost,60,ABC
222,1,5,White Rabbit,2004-10-21 00:00:00,Lost,60,ABC
...,...,...,...,...,...,...,...
334,6,14,The Candidate,2010-05-05 01:00:00,Lost,60,ABC
335,6,15,Across the Sea,2010-05-12 01:00:00,Lost,60,ABC
336,6,16,What They Died For,2010-05-19 01:00:00,Lost,60,ABC
337,6,17,The End (1),2010-05-24 01:00:00,Lost,60,ABC
338,6,18,The End (2),2010-05-24 01:00:00,Lost,60,ABC

In [9]:
slayer

,season,episode,name,air_date,show,runtime,network
339,1,1,Welcome to the Hellmouth,1997-03-11 01:00:00,Buffy the Vampire Slayer,60,UPN
340,1,2,The Harvest,1997-03-11 01:00:00,Buffy the Vampire Slayer,60,UPN
341,1,3,Witch,1997-03-18 01:00:00,Buffy the Vampire Slayer,60,UPN
342,1,4,Teacher's Pet,1997-03-26 01:00:00,Buffy the Vampire Slayer,60,UPN
343,1,5,Never Kill a Boy on the First Date,1997-04-01 01:00:00,Buffy the Vampire Slayer,60,UPN
...,...,...,...,...,...,...,...
477,7,18,Dirty Girls,2003-04-16 00:00:00,Buffy the Vampire Slayer,60,UPN
478,7,19,Empty Places,2003-04-30 00:00:00,Buffy the Vampire Slayer,60,UPN
479,7,20,Touched,2003-05-07 00:00:00,Buffy the Vampire Slayer,60,UPN
480,7,21,End of Days,2003-05-14 00:00:00,Buffy the Vampire Slayer,60,UPN
481,7,22,Chosen,2003-05-21 00:00:00,Buffy the Vampire Slayer,60,UPN

In [11]:
# 3. 3개의 통합문서
epi = pd.ExcelWriter("epi.xlsx")
epi

In [12]:
lost.to_excel(excel_writer = epi, sheet_name ="X", index = False)
lost.to_excel(excel_writer = epi, sheet_name ="Lost", index = False)
lost.to_excel(excel_writer = epi, sheet_name ="Slayer", index = False)