<h>[다양한 Series 객체 생성]</h>

In [5]:
import pandas as pd

#### (2) Series 객체 생성 - 방법 1  
- Series( data, index = 지정)

In [7]:
sr1 = pd.Series([11, 22, 33], index=["one", "two", "three"])
sr1

one      11
two      22
three    33
dtype: int64

#### (2) Series 객체 생성 - 방법 2

In [8]:
sr1 = pd.Series([11, 22, 33], index=["one", "two", "three"], name = "jumsu")
sr1

one      11
two      22
three    33
Name: jumsu, dtype: int64

#### (2) Series 객체 생성 - 방법 3

In [12]:
sr1 = pd.Series([11, 22, 33], index=["one", "two", "three"], name = "jumsu", dtype="uint8")
sr1

one      11
two      22
three    33
Name: jumsu, dtype: uint8

In [14]:
sr1[0] = 12356454
sr1

one      12356454
two            22
three          33
Name: jumsu, dtype: uint32

In [15]:
sr1[0] = 100
sr1

one      100
two       22
three     33
Name: jumsu, dtype: uint32

In [16]:
sr1 = pd.Series([13546, 22, 33], index=["one", "two", "three"], name = "jumsu", dtype="uint8")
sr1

ValueError: Values are too large to be losslessly converted to uint8. To cast anyway, use pd.Series(values).astype(uint8)

#### (2) Series 객체 생성 - 방법 4 => 저장되는 데이터 dict

In [18]:
data={"name":"홍길동", "age":12, "job":"도적"}
sr1 = pd.Series(data)
sr1

name    홍길동
age      12
job      도적
dtype: object

In [20]:
# 속성 확인하기
sr1.index, sr1.values

(Index(['name', 'age', 'job'], dtype='object'),
 array(['홍길동', 12, '도적'], dtype=object))

#### (2) Series 객체 생성 - 방법 5 => 저장되는 데이터 set

In [25]:
data=list({"홍길동", 12, "도적"}) # set데이터의 특성 : 순서 없고 중복 불허

# 형변환 후 객체 생성 가능
sr1 = pd.Series(data, index = [1, 2, 3])
sr1

1     12
2     도적
3    홍길동
dtype: object