# [DataFrame 살펴보기]
    * 데이터를 테이블 즉, 표 형태로 저장하는 자료구조
    * 구성 : 행 + 열
    * 생성 : pandas.DataFrame() 생성자 메서드

(1) 모듈 로딩 --------------------------

In [1]:
from pandas import DataFrame

(2) 데이터 준비 -------------------

In [9]:
data = [[11, 22, 33], [44, 55, 66]] # 2차원 리스트 2row 3col

(3) 데이터 프레임 객체 생성 -----------------

In [10]:
df1 = DataFrame()
df1

Empty DataFrame
Columns: []
Index: []

In [16]:
df1 = DataFrame(data, ["!", "!!"], ["?", "??", "???"])
df1

     ?  ??  ???
!   11  22   33
!!  44  55   66

(4) 데이터 프레임 속성 읽기 => 객체변수명.속성명 -----------------

In [17]:
df1.index

Index(['!', '!!'], dtype='object')

In [18]:
df1.columns

Index(['?', '??', '???'], dtype='object')

In [19]:
df1.values

array([[11, 22, 33],
       [44, 55, 66]], dtype=int64)

In [20]:
df1 = DataFrame(data)
df1

    0   1   2
0  11  22  33
1  44  55  66

In [21]:
df1.index

RangeIndex(start=0, stop=2, step=1)

In [22]:
df1.columns

RangeIndex(start=0, stop=3, step=1)

In [23]:
df1.values

array([[11, 22, 33],
       [44, 55, 66]], dtype=int64)

In [25]:
# 데이터가 저장된 표의 형태
df1.shape

(2, 3)

In [27]:
# 데이터의 차원 정보 n-dimention
df1.ndim

2

In [29]:
df1.dtypes # 복수 주의!!

0    int64
1    int64
2    int64
dtype: object

(4) 원소 읽기 => 행과 열 지정 => 1개 원소 -----------------

- col(열) 읽기 => 객체변수명[index]

In [31]:
df1

    0   1   2
0  11  22  33
1  44  55  66

In [32]:
df1[0]

0    11
1    44
Name: 0, dtype: int64

In [33]:
df1[2]

0    33
1    66
Name: 2, dtype: int64

In [36]:
df1[0][1] #col, row 아니 왜 어쨰서

44

In [38]:
## 컬럼변경 =============
df1.columns = ["A", "B", "C"]
df1

    A   B   C
0  11  22  33
1  44  55  66

In [51]:
df1[0] # columns에서는 안먹혀 왜.. column이름이 [0, 1, 2..] 일때만 사용 가능, 아무튼 레이블 설정 후에는 정수 인덱싱 불가능~

KeyError: 0

In [50]:
df1["A"]

0    11
1    44
Name: A, dtype: int64

In [52]:
df1.A

0    11
1    44
Name: A, dtype: int64

- 로우 즉 행(row) 읽기 => 방법 2가지
    * 위치 인덱스로 읽기 : 객체변수명.iloc[인덱스]
    * 레이블 인덱스로 읽기 : 객체변수명.loc[인덱스]

In [55]:
df1.index = ["one", "two"]
df1

      A   B   C
one  11  22  33
two  44  55  66

In [56]:
df1.loc["one"]

A    11
B    22
C    33
Name: one, dtype: int64

In [57]:
df1.iloc[0] # int loc이라는 뜻

A    11
B    22
C    33
Name: one, dtype: int64