# [결측치 Missing Value 처리]
- 데이터 미입력 또는 데이터 저장 과정에서 지워진 데이터
- 빈칸 의미
- 표시 : NaN (Not A Number) NaT (Not A Text)
- 표현 : numpy.nan, math.nan을 사용

<hr>(1) 모듈 로딩

In [1]:
 import pandas as pd

<hr>(2) 데이터 준비

In [2]:
file = "../DATA/employees.csv"

<hr>(3) 데이터 저장 : CSV => DF

In [3]:
# 구분자:, 헤더: 첫번째 줄 컬럼명
empDF = pd.read_csv(file)

In [4]:
# 데이터의 전반적인 요약정보 확인 => info() 메서드
# - 컬럼별 결측치 여부 확인 => 결측치 처리
# - 타입이 다른 경우, 타입 변환 => 타입 다른 경우, 타입 변환
empDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  933 non-null    object
 1   Gender      854 non-null    object
 2   Start Date  999 non-null    object
 3   Salary      999 non-null    float64
 4   Mgmt        933 non-null    object
 5   Team        957 non-null    object
dtypes: float64(1), object(5)
memory usage: 47.0+ KB

In [5]:
# 데이터의 컬럼별 분포 확인 => describe()
empDF.describe()

              Salary
count     999.000000
mean    90655.528529
std     32939.511615
min     35013.000000
25%     62560.000000
50%     90427.000000
75%    118744.500000
max    149908.000000

In [7]:
# 최빈값 중앙값
print(empDF.mode(numeric_only=True), empDF.median(numeric_only=True), empDF.mean(numeric_only=True), sep = "\n\n\n\n")

     Salary
0   86676.0
1   91462.0
2  121160.0
3  145988.0
4  147183.0



Salary    90427.0
dtype: float64



Salary    90655.528529
dtype: float64

<hr>(5) 결측값, 이상치, 특이값 처리 -> 제거/치환<br>
- 나이 : -4살<br>
- 혈액형 : p형<br>
- 중복데이터<br>
- 누락데이터<br>

In [14]:
# 결측치 => isna(), isnull() : 원소 단위로 검사 후 결측치인 경우 True 반환

print(empDF.isna().head(), empDF.isnull().head(), sep="\n\n\n")

   First Name  Gender  Start Date  Salary   Mgmt   Team
0       False   False       False    True  False  False
1       False   False       False   False  False   True
2       False   False        True   False  False  False
3       False    True       False   False  False  False
4       False   False       False   False  False  False


   First Name  Gender  Start Date  Salary   Mgmt   Team
0       False   False       False    True  False  False
1       False   False       False   False  False   True
2       False   False        True   False  False  False
3       False    True       False   False  False  False
4       False   False       False   False  False  False

In [16]:
# 결측치 개수
print(empDF.isna().sum(), empDF.isnull().sum(), sep="\n\n\n")

First Name     68
Gender        147
Start Date      2
Salary          2
Mgmt           68
Team           44
dtype: int64


First Name     68
Gender        147
Start Date      2
Salary          2
Mgmt           68
Team           44
dtype: int64

In [17]:
# 결측치 체크 ==> notna() / notnull() : 결측치가 아니면 True -> 정상 데이터 체크 가능
print(empDF.notna().head(), empDF.notnull().head(), sep="\n\n\n")

   First Name  Gender  Start Date  Salary  Mgmt   Team
0        True    True        True   False  True   True
1        True    True        True    True  True  False
2        True    True       False    True  True   True
3        True   False        True    True  True   True
4        True    True        True    True  True   True


   First Name  Gender  Start Date  Salary  Mgmt   Team
0        True    True        True   False  True   True
1        True    True        True    True  True  False
2        True    True       False    True  True   True
3        True   False        True    True  True   True
4        True    True        True    True  True   True