## [ 텍스트 데이터 처리]
- 다양한 형태의 텍스트 데이터를 정리하기 위한 방법들
- SR에 str 속성을 활용해서 str제공 전용 메서드 사용 가능
- 사용방법 : SR객체.str.메서드()

-문자열 관련 메서드를 살펴보기 (1) 공백 제거 관련 메서드 => strip(), lstrip(), rstrip()

In [7]:
msg = "   merry Christmas     "
len(msg)

23

In [3]:
msg1=msg.lstrip()
msg1

'merry Christmas   '

In [6]:
msg2=msg.rstrip()
msg2

'  merry Christmas'

In [9]:
msg3=msg.strip()
msg3

'merry Christmas'

<hr>(1) 모듈 로딩

In [10]:
import pandas as pd

<hr>(2) 데이터 준비

In [12]:
file="../DATA/chicago_food_inspections.csv"

<hr>(3) 데이터 저장

In [13]:
chicagoDF = pd.read_csv(file)
chicagoDF

                                      Name             Risk
0               MARRIOT MARQUIS CHICAGO       Risk 1 (High)
1                              JETS PIZZA   Risk 2 (Medium)
2                               ROOM 1520      Risk 3 (Low)
3                MARRIOT MARQUIS CHICAGO      Risk 1 (High)
4                            CHARTWELLS       Risk 1 (High)
...                                    ...              ...
153805                         WOLCOTT'S      Risk 1 (High)
153806     DUNKIN DONUTS/BASKIN-ROBBINS     Risk 2 (Medium)
153807                           Cafe 608     Risk 1 (High)
153808                        mr.daniel's     Risk 1 (High)
153809                         TEMPO CAFE     Risk 1 (High)

[153810 rows x 2 columns]

[문제] Name 컬럼에서 공백제거 처리

In [16]:
chicagoDF['Name'] = chicagoDF['Name'].str.strip()

[문제] Risk 컬럼에서 문자열 나누기 => Risk 숫자 => Risk 숫자 분리

In [18]:
chicagoDF["Risk"].nunique(), chicagoDF["Risk"].unique()

(4,
 array(['Risk 1 (High)', 'Risk 2 (Medium)', 'Risk 3 (Low)', 'All', nan],
       dtype=object))

In [20]:
chicagoDF["Risk"].isna().sum(), chicagoDF["Risk"].isna().sum()

(66, 66)

In [21]:
# 기본 => 행 방향, 행 내에 한 개라도 NaN있으면 삭제 
chicagoDF.dropna().shape

(153744, 2)

In [23]:
# Risk 컬럼이 NaN인 행 삭제 => subset 파라미터를 써라
chicagoDF.dropna(subset=["Risk"]).shape # Name에는 nan이 없어서 Risk를 subset으로 주거나 안주거나 차이 없음

(153744, 2)

In [24]:
# 원소의 데이터 값이 'all' => 'Risk 4 (Extreme)' 변경
chicagoDF['Risk'].replace('all', "Risk 4 (Extreme)")

0           Risk 1 (High)
1         Risk 2 (Medium)
2            Risk 3 (Low)
3           Risk 1 (High)
4           Risk 1 (High)
               ...
153805      Risk 1 (High)
153806    Risk 2 (Medium)
153807      Risk 1 (High)
153808      Risk 1 (High)
153809      Risk 1 (High)
Name: Risk, Length: 153810, dtype: object

In [25]:
chicagoDF["Risk"].str.slice(8, -1).str.upper()

0           HIGH
1         MEDIUM
2            LOW
3           HIGH
4           HIGH
           ...
153805      HIGH
153806    MEDIUM
153807      HIGH
153808      HIGH
153809      HIGH
Name: Risk, Length: 153810, dtype: object